* {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}

html {
    font-size: 16px;
}

/* ------ HEADER ------ */

header {
    width: 100%;
    height: 90vh;
    font-size: 16px;
    background: url("../img/Hotel-de-Len_-Photo-Helenio-Barbetta-14-scaled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 100%;
}

.slider-puntos {
    position: absolute;
    top: 40%;
    left: 4%;
}

.slider-nav ul li {
    list-style: none;
}

.header-menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #000 solid 1px;
}

.menu-logo {
    font-size: .8em;
    margin-left: 20px;
}

.menu-nav {

}

.menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-nav ul li {
    list-style: none;
    padding: 20px;
}

.menu-nav ul li a {
    color: #000;
    text-decoration: none;
}

#nav-cotizar {
    margin: 0;
    padding: 0;
}

#nav-cotizar a {
    background-color: #000;
    color: white;
    padding: 10px 25px;
}

.header-info {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.header-info h1 {
    width: 40%;
    font-size: 6em;
    line-height: .9em;
}

.header-info p {
    width: 55%;
}

.cotizar-btn {
    background-color: #000;
    color: white;
    width: 10em;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cotizar-btn p {
    margin: 15px 25px 15px 25px; 
    text-align: center;
}

/* ------ HABITACIONES ------ */

.contenedor-habitaciones {
    width: 80%;
    height: 90vh;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
}

.habitaciones-info {
    width: 50%;
    align-self: center;
}

.info-menu {
    width: 75%;
    margin-bottom: 15px;
}

.info-nav ul {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: #000 solid 1px;
}

.info-nav ul li {
    list-style: none;
    padding-right: 20px;
}

.info-nav ul li a {
    color: black;
    text-decoration: none;
    border-right: #000 solid 1px;
    padding: 0 20px 0 0;
    font-size: 1.5em;
    font-weight: 700;
}

#no-border {
    border-right: #000 solid 0px;
}

.info {
    width: 75%;
}

.info h3 {
    font-size: 4em;
    line-height: .9em;
}

.info p {
    font-size: 1.1em;
}

.vip, .fotos-vip {
    display: none;
}

.premium, .fotos-premium {
    display: none;
}

.habitaciones-fotos {
    width: 50%;
    height: 90%;
    align-self: center;
}

.fotos-normal {
    width: 90%;
    height: 100%;
    background: url("../img/Hotel-de-Len_-Photo-Helenio-Barbetta-10-scaled.jpg");
    background-size: cover;
}

.personal-info {
    width: 100%;
    height: 35vh;
    background-color: rgb(219, 219, 219);
    text-align: center;
}

.info-foto {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    transform: translateY(-25px);
    border-radius: 100px;
    background-color: #000;
}

.info-texto {
    width: 80%;
    margin: 0 auto;
}

.info-texto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info-texto p {

}


/* ------ CONTACTO ------ */

.contacto {
    width: 100%;
    height: 65vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.contacto-form {
    width: 45%;
    text-align: center;
    padding: 50px 0;
}

.contacto-form h3 {
    font-size: 1.8em;
}

.contacto-form p {
    color: grey;
}

.contacto-form input {
    width: 60%;
    outline: 0;
    border: 0px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
}

.contacto-form textarea {
    width: 60%;
    outline: 0;
    border: 0px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
}

.contacto-form input[type="submit"] {
    width: 40%;
    outline: 0;
    border: 0px solid #000;
    border-bottom: 1px solid #000;
    background-color: #000;
    color: white;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
}



.contacto-mapa {
    width: 50%;
    height: 100%;
    background-color: rgb(129, 205, 255);
}





