* {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}

html {
    font-size: 16px;
}

/* ------ HEADER ------ */

header {
    width: 100%;
    height: 90vh;
    font-size: 16px;
    /*background: url("../img/Hotel-de-Len_-Photo-Helenio-Barbetta-14-scaled.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 100%;
}

/* ------ MOBILE MENU ------ */

.mobile-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    width: 45%;
    height: 100vh;
    z-index: 10;
    transform: translateX(-500px);
    transition: transform 0.2s ease;
}

.show {
    transition: transform 0.2s ease;
    transform: translateX(0px);
}

.mobile-menu span {
    margin-top: 10%;
    margin-left: 10%;
    color: white;
}

.mobile-nav {
    margin: 50% 0 0 10%;

}

#menu-title {
    color: white;
    font-size: 1.3em;
    font-weight: 700;
}

.mobile-nav ul {
    list-style: none;
}

.mobile-nav ul li {
    padding: 10px 10px 10px 0;
}

.mobile-nav hr {
    width: 90%;
    margin-bottom: 15px;
}

.mobile-nav ul li a {
    margin-left: 5%;
    color: white;
    text-decoration: none;
}

.mobile-menu-logo {
    display: none;
}

/* ------ SLIDER ------ */

.puntos-mobile {
    display: none;
}

.slider {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.slider ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.slider ul li {
    width: 100%;
}

/*#foto-1 {
    background: url("../img/Hotel-de-Len_-Photo-Helenio-Barbetta-10-scaled.jpg");
}*/

.slider ul li img {
    width: 100vw;
    height: 100%;
    background-size: cover;
}

.slider-puntos {
    position: absolute;
    top: 40%;
    left: 4%;
}

.slider-nav ul li {
    list-style: none;
    cursor: pointer;
}

/* ------ MENU ------ */

.header-menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #000 solid 1px;
}

.menu-logo {
    font-size: .8em;
    margin-left: 20px;
}

.menu-nav {

}

.menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-nav ul li {
    list-style: none;
    padding: 20px;
}

.menu-nav ul li a {
    color: #000;
    text-decoration: none;
}

#nav-cotizar {
    margin: 0;
    padding: 0;
}

#nav-cotizar a {
    background-color: #000;
    color: white;
    padding: 10px 25px;
}

.header-info {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.header-info h1 {
    width: 40%;
    font-size: 6em;
    line-height: .9em;
}

.header-info p {
    width: 55%;
}

.cotizar-btn {
    background-color: #000;
    color: white;
    width: 10em;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cotizar-btn p {
    margin: 15px 25px 15px 25px; 
    text-align: center;
}

/* ------ MENU ANIMACIONES ------ */

.btn-active {
    color: white;
}

.slide-1 {
    transform: translateX(0%);
    transition: transform 1s ease;
}

.slide-2 {
    transform: translateX(-100%);
    transition: transform 1s ease;
}

.slide-3 {
    transform: translateX(-200%);
    transition: transform 1s ease;
}

.slide-4 {
    transform: translateX(-300%);
    transition: transform 1s ease;
}


/* ------ HABITACIONES ------ */

.contenedor-habitaciones {
    width: 80%;
    height: 90vh;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
}

.habitaciones-info {
    width: 50%;
    align-self: center;
}

.info-menu {
    width: 75%;
    margin-bottom: 15px;
}

.info-nav ul {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: #000 solid 1px;
}

.info-nav ul li {
    list-style: none;
    padding: 0 20px;
    color: grey;
    text-decoration: none;
    border-right: #000 solid 1px;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    transition: color .3s ease;
}

.info-nav ul li:nth-child(1){
    padding-left: 0px;
    margin-left: 0px;
    color: #000;
}

#no-border {
    border-right: #000 solid 0px;
}

.info {
    width: 75%;
}

.info h3 {
    font-size: 4em;
    line-height: .9em;
}

.info p {
    font-size: 1.1em;
}

.vip, .foto-vip {
    display: none;
}

.premium, .foto-premium {
    display: none;
}

.habitaciones-fotos {
    width: 50%;
    height: 90%;
    align-self: center;
}

.fotos {
    width: 90%;
    height: 100%;
}

.foto-normal {
    background: url("../img/Hotel-de-Len_-Photo-Helenio-Barbetta-10-scaled.jpg");
    background-size: cover;
}

.foto-vip {
    background: url("../img/Camera-Deluxe-scaled.jpg");
    background-size: cover;
}


.foto-premium {
    background: url("../img/2021-09-17_de_len_0196-scaled.jpg");
    background-size: cover;
}





/* ------ INFO PERSONAL ------ */


.personal-info {
    width: 100%;
    height: 35vh;
    background-color: rgb(219, 219, 219);
    text-align: center;
}

.info-foto {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    transform: translateY(-25px);
    border-radius: 100px;
    background-color: #000;
}

.info-texto {
    width: 80%;
    margin: 0 auto;
}

.info-texto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info-texto p {

}


/* ------ CONTACTO ------ */

.contacto {
    width: 100%;
    height: 65vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.contacto-form {
    width: 45%;
    text-align: center;
    padding: 50px 0;
}

.contacto-form h3 {
    font-size: 1.8em;
}

.contacto-form p {
    color: grey;
}

.contacto-form input {
    width: 60%;
    outline: 0;
    border: 0px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
}

.contacto-form textarea {
    width: 60%;
    outline: 0;
    border: 0px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    resize: none;
}

.contacto-form input[type="submit"] {
    width: 40%;
    outline: 0;
    border: 0px solid #000;
    border-bottom: 1px solid #000;
    background-color: #000;
    color: white;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
}

#resultadoValidacion {
    width: 70%;
    margin: 15px auto;
    color: white;
    background-color: #000;
}


.contacto-mapa {
    width: 50%;
    height: 100%;
    background-color: rgb(129, 205, 255);
}

.contacto-mapa iframe{
    width: 100%;
    height: 100%;
}



/* ------ COTIZAR ESTADIA ------ */

.cotizar {
    width: 100%;
    height: 35vh;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cemter;
}

.cotizar-info {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.cotizar-info h3 {
    font-size: 1.8em;
}

.cotizar-info p {
    margin: 15px 0;
}

.estadia-cotizar {
    margin: 15px auto;
}


/* ------ FOOTER ------ */


footer {
    width: 100%;
    background-color: #000;
    color: grey;
}

.footer-container {
    width: 80%;
    height: 25vh;
    margin: 0 auto;
    padding: 50px 0;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.footer-container h4 {
    color: white;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.nav-footer-1 {
    grid-column: 1 / 2;
    grid-row: 1;
    border-right: grey solid 1px;
    padding: 0 10px;
}

.nav-footer-1 ul {
    list-style: none;
}

.nav-footer-1 ul li {
    margin: 15px 0;
}

.nav-footer-1 ul li a {
    text-decoration: none;
    color: grey;
}

.nav-footer-2 {
    grid-column: 2 / 3;
    grid-row: 1;
    border-right: grey solid 1px;
    padding: 0 10px;
}

.nav-footer-2 ul {
    list-style: none;
}

.nav-footer-2 ul li {
    margin: 15px 0;
}

.nav-footer-2 ul li a {
    text-decoration: none;
    color: grey;
}

.footer-info {
    grid-column: 3 / 4;
    grid-row: 1;
    border-right: grey solid 1px;
    padding: 0 10px;
}

.footer-info  p{
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 1.3em;
    font-weight: 700;
    color: white;
}

.footer-copy {
    grid-column: 4 / 5;
    grid-row: 1;
    padding: 0 10px;
}







/* ------ MEDIA QUERIES ------ */

@media (max-width: 375px) {

    header {
        height: 70vh;
    }

    /* ------ MENU MOBILE ------ */

    .mobile-menu-logo {
        display: block;
    }

    /* ------ SLIDER ------ */

    .slider ul {
        height: 80%;
    }

    .slider-puntos {
        top: 56%;
        left: 46%;
        transform: rotate(-90deg)
    }
    
    /* ------ MENU ------ */

    .menu-nav {
        display: none;
    }

    .menu-logo {
        margin-left: 0px;
    }

    .header-info {
        width: 100%;
        height: 75%;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        margin-top: 25px;
    }

    .header-info h1 {
        width: 90%;
        font-size: 3.5em;
    }

    .header-info p {
        width: 90%;
    }

    .cotizar-btn {
        margin-bottom: 0px;
    }

    /* ------ HABITACIONES ------ */

    .contenedor-habitaciones {
        width: 100%;
        flex-direction: column;
    }

    .info-menu {
        width: 100%;
    }

    .info-nav ul li {
        font-size: 1.1em;
    }

    .info {
        width: 100%;
    }

    .info h3 {
        font-size: 3em;
        line-height: .9em;
    }

    .info p{
        font-size: .9em;
    }

    .habitaciones-info {
        width: 80%;
        margin-top: 20px;
    }

    .habitaciones-fotos {
        width: 100%;
        margin-top: 25px;
    }

    .habitaciones-fotos .fotos {
        width: 100%;
    }

    /* ------ INFORMACION PERSONAL ------ */

    .personal-info {
        height: 70vh;
    }

    .info-texto p {
        font-size: 0.9em;
    }

    /* ------ CONTACTO ------ */

    .contacto {
        flex-direction: column;
        height: 100vh;
    }

    .contacto-form {
        width: 100%;
    }

    .contacto-mapa {
        width: 100%;
    }

    /* ------ COTIZAR ------ */

    .cotizar {
        height: 70vh;
    }

    /* ------ FOOTER ------ */

    footer {
        height: 100vh;
    }
    
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .nav-footer-1 {
        grid-column: 1;
        grid-row: 1 / 2;
        border-right: none;
        border-bottom: grey solid 1px;
    }
    
    .nav-footer-2 {
        grid-column: 1;
        grid-row: 2 / 3;
        border-right: none;
        border-bottom: grey solid 1px;
    }
    
    .footer-info {
        grid-column: 1;
        grid-row: 3 / 4;
        border-right: none;
        border-bottom: grey solid 1px;
    }
    
    .footer-copy {
        grid-column: 1;
        grid-row: 4 / 5;
        /*border-bottom: grey solid 1px;*/
    }
    
    

}


@media (min-width: 376px) and (max-width: 768px) {

    header {
        height: 90vh;
    }

    /* ------ MENU MOBILE ------ */

    .mobile-menu-logo {
        display: block;
    }

    /* ------ SLIDER ------ */

    .slider-puntos {
        top: 70%;
        left: 46%;
        transform: rotate(-90deg)
    }
    
    /* ------ MENU ------ */

    .menu-nav {
        display: none;
    }

    .menu-logo {
        margin-left: 0px;
    }

    .header-info {
        width: 100%;
        height: 75%;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        margin-top: 25px;
    }

    .header-info h1 {
        width: 90%;
        font-size: 3.5em;
    }

    .header-info p {
        width: 90%;
    }

    .cotizar-btn {
        margin-bottom: 0px;
    }

    /* ------ HABITACIONES ------ */

    .contenedor-habitaciones {
        width: 100%;
        flex-direction: column;
    }

    .info-menu {
        width: 100%;
    }

    .info-nav ul li {
        font-size: 1.1em;
    }

    .info {
        width: 100%;
    }

    .info h3 {
        font-size: 3em;
        line-height: .9em;
    }

    .info p{
        font-size: .9em;
    }

    .habitaciones-info {
        width: 80%;
    }

    .habitaciones-fotos {
        width: 100%;
        margin-top: 25px;
    }

    .habitaciones-fotos .fotos {
        width: 100%;
    }

    /* ------ INFORMACION PERSONAL ------ */

    .personal-info {
        height: 60vh;
    }

    .info-texto p {
        font-size: 0.9em;
    }

    /* ------ CONTACTO ------ */

    .contacto {
        flex-direction: column;
        height: 100vh;
    }

    .contacto-form {
        width: 100%;
    }

    .contacto-mapa {
        width: 100%;
    }

    /* ------ COTIZAR ------ */

    .cotizar {
        height: 70vh;
    }

    /* ------ FOOTER ------ */

    footer {
        height: 100vh;
    }
    
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .nav-footer-1 {
        grid-column: 1;
        grid-row: 1 / 2;
        border-right: none;
        border-bottom: grey solid 1px;
    }
    
    .nav-footer-2 {
        grid-column: 1;
        grid-row: 2 / 3;
        border-right: none;
        border-bottom: grey solid 1px;
    }
    
    .footer-info {
        grid-column: 1;
        grid-row: 3 / 4;
        border-right: none;
        border-bottom: grey solid 1px;
    }
    
    .footer-copy {
        grid-column: 1;
        grid-row: 4 / 5;
        /*border-bottom: grey solid 1px;*/
    }
    
    

}

@media (min-width: 490px) and (max-width: 768px) {

    .personal-info {
        height: 50vh;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    .habitaciones-info {
        font-size: 12px;
    }

    .habitaciones-fotos {
        height: 80%;
    }

    .personal-info {
        height: 45vh;
    }

    .cotizar {
        height: 45vh;
    }

    .footer-container {
        height: 35vh;
    }


}